// Font import from Google Fonts 
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700')

// Remove outline on all elements on page
*:focus
    outline: none
body
    background-color: #191919
    font-family: 'Work Sans', sans-serif
