.small-header
    width: 100%
    height: auto
    padding: 30px 15px 0px 15px
    background: #151515
    .flex-align
        display: flex
        align-items: center
        #logo
            width: 90px
        .fa-search
            float: right
            color: #FFFFFF  
            font-size: 24px 
        .sortBtn
            width: 135px
            height: 30px
        #sortBy
            float: right
    .flex-align:last-child
        padding: 30px 0px 20px 0px

