body
    

#offcanvas-full-screen
    display: flex
    width: 20%
    -webkit-transform: translateX(0%)
    -ms-transform: translateX(0%)
    transform: translateX(0%)
    overflow-y: inherit

.offcanvas-full-screen-inner
    width: 100%

.off-canvas-content
    margin-left: 20%

#mobile-btn-open
    display: none

.mobile-btn-quit
    display: none

.menu
    display: block
    padding-top: 20px

.logo
    display: flex

.row
    max-width: 80rem
    .flex-align-sb-c
        justify-content: space-around
        .small-movie-info
            margin-bottom: 10px
            margin-top: 10px
            padding-left: 10px
            padding-right: 10px
            text-align: center
    .none:nth-child(4n)
        display: flex
        flex-basis: auto
        .poster-size
            width: 170px
            height: 220px

#size
    width: 170px
    height: 220px

.side-bar
    display: flex
    flex-direction: column-reverse
    padding-bottom: 15px
    height: 70%

#footer-side-menu
    display: flex
    justify-content: center

#footer-desk
    display: flex
    width: 100%

.footer-cont
    display: none
    padding-top: 15px
    padding-bottom: 0 
    padding-left: 0
    padding-right: 0

#desk-hide
    display: none

#desk-show
    display: flex
    flex-direction: column
    padding-top: 0

#sign-in
    font-size: 24px

#sign-up
    font-size: 24px