#offcanvas-full-screen
    display: flex
    width: 20%
    -webkit-transform: translateX(0%)
    -ms-transform: translateX(0%)
    transform: translateX(0%)
    overflow-y: inherit

.offcanvas-full-screen-inner
    width: 100%

.off-canvas-content
    margin-left: 20%

#mobile-btn-open
    display: none

.mobile-btn-quit
    display: none

.logo
    display: flex

.row
    max-width: 100%
    .flex-align-sb-c
        justify-content: space-around
        .movie-poster
            margin-bottom: 20px
            margin-top: 20px
            padding-left: 20px
            padding-right: 20px
            text-align: center
            .poster-size
                width: 250px
                height: 396px
        .movie-poster:nth-child(4n)
            padding-top: 20px
            margin: 0px
            .poster-size
                width: 250px
                height: 396px
                
