#outerContentContainer
    margin-left: map-get($offcanvas-sizes, large)

    #innerContentContainer
        width: 80%

#approve-review-container
    display: flex
    flex-direction: column
.approve-review
    color: green
    font-size: 2rem !important

.admin-btn
    display: flex
    justify-content: center
    width: 85%
    height: 40px
    color: #151515
    font-weight: 800
    background: #FAD400
    margin: 15px 0px 25px 0px

.btn-admindelete
    display: flex
    justify-content: center
    width: 85%
    height: 40px
    background-color: #cc4b37;
    color: #fefefe;
    font-weight: 800
    margin: 15px 0px 25px 0px
