/*      Error and Status messages       */

.alert-box
    color: black
    float: center
    width: 100%
    height: 40px
    padding: 20px
    text-align: center
    //box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1), 0 6px 12px 0 rgba(0,0,0,0.2) 

.alert-box.warning
    background-color: #f44332


.alert-box.success
    background-color: #f4ca33

