/* Search error and status messages */

#statusMsg
    float: center
    background-color: #FFCF3f
    width: 100%
    text-align: center
    position: relative
    animation-name: status-msg-animation
    animation-duration: 5s
    height: 0em
    overflow: hidden
    padding: 0em
    font-size: 1.1em
<<<<<<< HEAD
    font-weigth: 700
    color: white
=======
    font-weigth: 600 
    color: black
>>>>>>> Fix error and status message styling


    p
        margin: 0
        font-size: 1em
        line-height: 1em

@keyframes status-msg-animation 
    0%
        height: 0em
        padding: 0em
    20%
        height: 3em
        padding: 1em
        animation-timing-function: ease-in
    80%
        height: 3em
        padding: 1em
    100%
        height: 0em
        padding: 0em
        animation-timing-function: ease-out 


#statusMsgError
    @extend #statusMsg
    background: red
    height: auto
    padding: 1em
    animation-name: status-error-animation
    animation-duration: 1s
    li
        list-style-type: none
        

@keyframes status-error-animation
    0%
        height: 0em
        padding: 0em
    20%
        height: 3em
        padding: 1em
        animation-timing-function: ease-in
    80%
        height: 3em
        padding: 1em
    100%
        animation-timing-function: ease-out