.footer-cont
    padding: 15px
    .footer
        display: flex
        flex-direction: row
        background-color: #151515
        color: #FFFFFF
        button
            padding-left: 12px
            .fa-users
                color: #FFFFFF

.developers
    display: flex
    justify-content: center
    color: #FFFFFF

.click-info
    display: flex
    justify-content: center
    color: #FFFFFF

.member-container
    position: absolute
    .fa-user-circle-o
        color: #FFFFFF
        padding-top: 5px

.member-row
    display: flex
    flex-direction: row
    padding-left: 15px
    padding-top: 5px

.members
    color: #FFFFFF
    padding-left: 12px

.personal-container
    display: flex
    flex-direction: column
    text-align: center
    padding-top: 24px
    height: 100%
    .small-12
        paddding: 15px
        .personal
            padding: 15px
            margin: auto
            color: #FFFFFF
            font-size: 80px

.personal-info
    color: #FFFFFF
    padding: 0

.pad-bottom
    padding-top: 24px
    padding-bottom: 80px

.info
    padding-top: 24px
    padding-left: 15px
    padding-right: 15px

.mobile-btn-quit
    width: 70px
    height: 70px
    display: flex
    position: sticky
    align-items: center
    justify-content: center
    background: #dba506
    border: 2px solid #151515
    background: -moz-linear-gradient(left, #dba506 0%, #f0d876 52%, #dba506 100%)
    background: -webkit-linear-gradient(left, #dba506 0%,#f0d876 52%,#dba506 100%)
    background: linear-gradient(to right, #dba506 0%,#f0d876 52%,#dba506 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dba506', endColorstr='#dba506',GradientType=1 )
    border-radius: 50%
    font-size: 42px
    color: #151515
    bottom: 45px
    right: 15px