#outerContentContainer
    background-color: #E8E8E8
    padding: 40px 0
    

    #innerContentContainer
        width: 90%
        margin: 0 auto

        h1  
            margin-bottom: 0.8em

        .adminform
            display: flex

            .button
                background-color: #FFCF3F
                width: 100%
                font-weight: bold

            ::placeholder
                font-weight: bold
                color: black

            .select2-container--default 
                .select2-selection--multiple 
                    .select2-selection__choice
                        background-color: #FFCF3F !important

            




