/*			Layout mobile about 		*/
.fullscreen-container
	height: 100%
	display: flex
	flex-direction: column
	.head
		padding: 25px 0px 25px 0px 
	.list
		padding: 0px 25px 25px 25px
		li
			padding: 5px 0px 5px 0px

.about-container
	height: 100%
	padding: 25px
	display: flex 
	align-items: center
	flex-direction: column
	justify-content: center
	padding: 0px 25px 0px 25px
	.head
		display: flex
		align-items: center
		flex-direction: column
		padding: 0px 0px 15px 0px
		i
			padding: 0px 0px 15px 0px
	.info
		display: flex 
		align-items: center
		flex-direction: column
		padding: 0px 0px 15px 0px
	.git
		display: flex 
		align-items: center
		flex-direction: column
		i
			padding: 0px 0px 15px 0px


/*			Style mobile about 		*/
.fullscreen-container
	.head
		color: white
		text-align: center
	.list
		color: white
		text-align: right
		ul 
			list-style-type: none
			a 
				color: white
				font-size: 22px
				text-decoration: none

.about-container
	color: white
	border-bottom: 1px solid #F03E3E
	h2
		font-weight: 800
	.head
		i
			font-size: 84px
	.info
		text-align: center
	.git
		i
			font-size: 46px
		a
			color: white
			font-weight: 800

#offcanvas-full-members
	padding: 0px 25px 0px 25px!important


